/* Fuentes */
@font-face {
	font-family: 'Futura';
	src: url('font/futura.ttc');
}
@font-face {
	font-family: 'FuturaEB';
	src: url('font/Futura-eb.ttf');
}

/* General */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

 /*Fuentes*/
@font-face {
	font-family: 'Futura';
	src: url('font/futura.ttc');
}
@font-face {
	font-family: 'FuturaEB';
	src: url('font/Futura-eb.ttf');
}

/* General */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	/*min-height: 900px;*/
	min-width: 1024px;
}
body {
	background-color: #000;
	font-family: 'Arial', 'Verdana';
	font-weight: bold;
	line-height: normal;
}

a, a:hover, a:active, a:link,  a:visited {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#page {
	background:url('../images/home/fondo.jpg') center 0 no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	z-index: 2;
	position: relative;
	min-height: 100%;
	height: auto !important;
}


/* Header */

header {
	width: 100%;
	min-width: 1024px;
}

header #top * {
	display: inline-block;
}

header .menu {
	background-color:black;
	font-size: 14pt;
	text-indent: 0.15em;
	float: right;
	margin-top: 15px;
	color: white;
	
}

header #bottom {
	background-color: white;
	font-size: 17pt;
	text-indent: 0.16em;
	float: right;
	color: black;
	margin-top: -4px;
	margin-right: 980px;
	float: left;
	width: 279px;
}

.sub-secciones{
	font-size: 31pt;
	color: black;
	width: 100%;
    line-height: 1;
    position: absolute;
    display: block;
    text-align: center;
    margin-left: 30%;
}
.sub-secciones div {
	text-align: left;
}
.sub-secciones div span {
	background-color: #00aef0;
}

.sub-secciones-contacto{
	font-size: 31pt;
	color: white;
	width: 100%;
    line-height: 1;
    position: absolute;
    display: block;
    text-align: center;
    margin-left: 30%;
}
.sub-secciones-contacto div {
	text-align: left;
}
.sub-secciones-contacto div span {
	background-color: black;
}

#skype{
	width: 6%;
	position: absolute;
	margin-top: 2%;
}

#skype-2{
	position: absolute;
	margin-top: 11%;
	margin-left: 6%;
}


/* Contenido */
#contenido {
	padding-bottom: 46px;
	margin-top:40px;
}

/* About */


.about-line{
	float:left;
	clear:both;
	font-size: 20px;
	color: white;
	background-color: black; 	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left:1%;
	padding-right: 1%;
}

 .first{
	padding-top: 10px;
	color: #00AEEF;
}

/*productos*/
#productos{
	margin-top: 10%;
}

#follow-keywords{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	/*Para navegadores que no soportan RGBa no se dibuja fondo*/
	background: none;
	background: rgba(0,0,0,0.5);
	top: 10%;
}

#follow-keywords img{
	width: 45%;
	vertical-align: middle;
}


/*servicios*/

#radiografia, #identidad, #combustible, #reframe{
	position:absolute;
	width: 0%;
	height: 20%;
}


#clientes {
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

/* Footer */
.fooarriba span {
	font-size: 20px;
}

footer {
	color: #FFF;
	width: 100%;
	height: 46px;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
}

footer * {
	display: inline-block;
	font-size: 8pt;
}

footer #fooarriba {
	
	float: right;
	background-color: black;
	color: white;
}

footer #fooarriba img{
	float: right;
	margin-right: 20px;
}

footer #fooabajo {
	background-color: #000;
	width: 100%;
}

footer #fooabajo #derecha {
	margin-left: 4px;
}

footer #fooabajo #izquierda {
	float: right;
	margin-right: 10px;
}

footer #fooabajo #izquierda img {
	margin-top: 3px;
}